body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #eee;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.main {
  padding: 20px;
}

h2, h2 + p {
  padding-left: 100px;
}

.main__project__gallery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.main__project__gallery__item {
  background-color: white;
  flex: 1 1 calc(100% / 3 - 20px);
}

.main__project__gallery__item img {
  max-width: 100%;
  height: auto;
  padding-top: 20px;
}

form {
  margin: 0 auto;
  max-width: 600px;
}

label, input, textarea {
  cursor: pointer;
}

label {
  font-weight: bold;
  font-size: 16px;
}

label, input[type="text"],
textarea, input[type="email"] {
  display: block;
  margin: 10px auto;
  width: 100%;
}

input[type="text"],
input[type="email"], textarea {
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #555;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
  color: white;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .main__project__gallery__item {
    flex: 1 1 calc(100% / 2 - 20px);
  }
  h2, h2 + p {
    padding-left: 50px;
  }
}

@media (max-width: 479px) {
  .main__project__gallery__item {
    flex: 1 1 100%;
  }
  h2, h2 + p {
    padding-left: 10px;
  }
}